<%= image_tag asset_url('beach.jpg'), class: "img" %>  
  <div class="overlay">
      <h1 class="name">Christi Ovchinnikov Barker</h1>
      <h3 class="name">Front End Web Developer</h3>
      <br>
    <div class="strheader">
      <div class="strspantext1">I AM
        <!-- <div class="strength-word-change">{ -->
          <div class="strIB">
            <div id="strength" class="strength"></div>
          </div>
         <!--  <div class="strR">}</div> -->
        </div><br>
        <!-- <div class="eqspantext2">= AWESOME.</div> -->
      </div>
    </div>
  </div>
  </div>
    <div class="row">
      <div class="col s12 m12">
        <h4 class= "center">Recommedations</h4>
      </div>
    <div class="row">
      <div class="col s1 m1"></div>
      <div class="col s4 m4 recomendation">
        <p class= "snippets">“I've seen first-hand her determination and ability to learn quickly. Like all good engineers, Christi's mind keeps working on the problem even when she's not busy coding at her keyboard.”
          <span class="bold">Owen Graupman
        - DevOps Architect at Willis Towers Watson's OneExchange</span></p>
       
        <p class="snippets">"Christi is fearless! Inspires me with her quality of character, work ethic and determination. She shows a lot of care, passion, and a flair for design" <span class="bold">Sam Lubin</span>- NYCDA</p>
      </div>
      <div class="col s2 m2"></div>
      <div class="col s4 m4 recomendation">
        <p class="snippets">"Extremely driven and talented. Christi will continue to work through a problem until a sustainable and satisfactory result is achieved.” <span class="bold">Joshua Besser
          - Director Planning, Procurement & Energy - Nitrogen Products @ Dyno Nobel
        </span></p>
        
        <p class="snippets">“Whatever she puts her mind to, she will see it through to the end. Get Christi on your team.” <span class="bold">Ryan Richardson
         - Full Stack Web Developer
        </span></p>
        <p>“She's a doer and she's dedicated.” 
        <span class="bold">Casey Stinett
        - NYCDA</span>
        </p>
    </div>
    <div class="col s1 m1"></div>
    </div>
  <div class="row skills white-text">
    <div class="col s1 m1"></div>
    <div class="col s3 m3">
      <ul>
        <li class="center">GitHub</li>
        <li class="center">Javascript</li>
        <li class="center">HTML</li>
        <li class="center">Rails</li>      
      </ul>
    </div>
    <div class="col s3 m3">
      <ul>
        <li class="center">CSS</li>
        <li class="center">Ruby</li>
        <li class="center">Sinatra</li>
        <li class="center">Git</li>
      </ul>
    </div>
    <div class="col s3 m3">
      <ul>
        <li class="center">Heroku</li>
        <li class="center">Coffee Script, Basics</li>
        <li class="center">Excellent multitasking and organization skills
        </li>
        <li class="center">MSOffice(Word,Excel,PowerPoint)</li>
      </ul>
    </div>
    <div class="col s2 m2"></div>
  </div>
<!--     website projects-->
    <div class="row projects">
      <div class="col s1 m1"></div>
      <div class="col s2 m2">
        <div class="card">
          <div class="card-image">
            <%= image_tag asset_url('pole.jpg'), class: "size" %>
          </div>
          <div class="card-content">
            <span class="card-title">Onyx Pole & Ariel Fitness</span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Ruby/Rails</li>
              <!-- <li>Ruby</li> -->
            </ul>
          </div>
          <div class="card-action">
            <a href="https://onyx-pole.herokuapp.com/
              " target="_blank">Onxy Pole</a>
          </div>
        </div>
      </div>
     
      <div class="col s2 m2">
        <div class="card">
          <div class="card-image">
            <%= image_tag asset_url('ship_silhouette.png'), class: "size" %>
          </div>
          <div class="card-content">
            <span class="card-title">Fedups</span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Ruby/Rails</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="https://fedups.herokuapp.com/" target="_blank">Fedups</a>
          </div>
        </div>
      </div>
      <div class="col s2 m2">
        <div class="card">
          <div class="card-image">
            <%= image_tag asset_url('o.png'), class: "size" %>
          </div>
          <div class="card-content">
            <span class="card-title">Oh App - Group Project</span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
              <li>Ruby/Rails</li>
              <!-- <li>Ruby</li> -->
            </ul>
          </div>
          <div class="card-action">
            <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank">Oh App</a>
          </div>
        </div>
      </div>
      <div class="col s2 m2">
        <div class="card">
          <div class="card-image">
            <%= image_tag asset_url('cookie.png'), class: "size" %>
          </div>
          <div class="card-content">
            <span class="card-title">Cookie Counter</span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="http://christis-cookie-counter.herokuapp.com/" target="_blank">Cookie Counter</a>
          </div>
        </div>
      </div>
      <div class="col s2 m2">
        <div class="card">
          <div class="card-image">
            <%= image_tag asset_url('wheel.JPG'), class: "size" %>
          </div>
          <div class="card-content">
            <span class="card-title">Wheel of Fortune</span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript</li>
           <!--    <li>Rails</li> -->
            </ul>
          </div>
          <div class="card-action">
            <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Wheel of Fortune</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s1 m1"></div>
   <!--  <div class="row projects"> -->
<!--        <div class="col s3 m3">
        <div class="card">
          <div class="card-image">
            <%# image_tag ('') %>
          </div>
          <div class="card-content">
            <span class="card-title"></span>
            <ul class="margin">
              <li>HTML</li>
              <li>CSS</li>
              <li>vanilla Javascript</li>
              <li>Rails</li>
            </ul>
          </div>
          <div class="card-action">
            <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank"></a>
          </div>
        </div>
      </div> -->
    </div>

    
            