<%= image_tag asset_url('beach.jpg'), class: "img" %>  
  <div class="overlay">
      <h1 class="name">Christi Ovchinnikov Barker</h1>
      <h3 class="name_two">Full Stack Web Developer</h3>
      <br>
    <div class="strheader">
      <div class="strspantext1">I AM
        <!-- <div class="strength-word-change">{ -->
          <div class="strIB">
            <div id="strength" class="strength"></div>
          </div>
         <!--  <div class="strR">}</div> -->
        </div><br>
        <!-- <div class="eqspantext2">= AWESOME.</div> -->
      </div>
    </div>
  </div>
  </div>
  <!--     website projects-->
  <div class="row projects">
    <div class="col s1 m1"></div>
    <div class="col s2 m2">
      <div class="card">
        <div class="card-image">
          
          <a href="https://onyx-pole.herokuapp.com/
            " target="_blank"><%= image_tag asset_url('pole.jpg'), class: "size" %></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://onyx-pole.herokuapp.com/
            " target="_blank">Onxy Pole & Aerial Fitness</a></span>
        <!--   <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Ruby/Rails</li>
            <li>Ruby</li>
          </ul> -->
        </div>
       <!--  <div class="card-action">
          <a href="https://onyx-pole.herokuapp.com/
            " target="_blank">Onxy Pole</a>
        </div> -->
      </div>
    </div>
   
    <div class="col s2 m2">
      <div class="card">
        <div class="card-image">
          <a href="https://fedups.herokuapp.com/home" target="_blank"><%= image_tag asset_url('ship_silhouette.png'), class: "size" %></a> 
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://fedups.herokuapp.com/home" target="_blank">Fedups</a></span>
        <!--   <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>Coffeescript</li>
            <li>Ruby/Rails</li>
          </ul> -->
        </div>
       <!--  <div class="card-action">
          <a href="https://fedups.herokuapp.com/home" target="_blank">Fedups</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 m2">
      <div class="card b_color">
        <div class="card-image">
          <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank"><%= image_tag asset_url('o.png'), class: "size" %></a>  
        </div>
        <div class="card-content">
          <span class="card-title"><a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank">Oh App</a></span>
          <!-- <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Ruby/Rails</li>
            <li>Ruby</li>
          </ul> -->
        </div>
       <!--  <div class="card-action">
          <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank">Oh App</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 m2">
      <div class="card">
        <div class="card-image">
          <a href="http://christis-cookie-counter.herokuapp.com/" target="_blank"><%= image_tag asset_url('cookies.png'), class: "size" %></a>
          
        </div>
        <div class="card-content">
          <span class="card-title"><a href="http://christis-cookie-counter.herokuapp.com/" target="_blank">Cookie Counter</a></span>
          <!-- <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
          </ul> -->
        </div>
       <!--  <div class="card-action">
          <a href="http://christis-cookie-counter.herokuapp.com/" target="_blank">Cookie Counter</a>
        </div> -->
      </div>
    </div>
    <div class="col s2 m2">
      <div class="card">
        <div class="card-image">
          <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank"><%= image_tag asset_url('wheel.JPG'), class: "size" %></a>
        </div>
        <div class="card-content">
          <span class="card-title"><a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Wheel of Fortune</a></span>
          <!-- <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Rails</li>
          </ul> -->
        </div>
        <!-- <div class="card-action">
          <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Wheel of Fortune</a>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col s1 m1"></div>
 <!--  <div class="row projects"> -->
<!--        <div class="col s3 m3">
      <div class="card">
        <div class="card-image">
          <%# image_tag ('') %>
        </div>
        <div class="card-content">
          <span class="card-title"></span>
          <ul class="margin">
            <li>HTML</li>
            <li>CSS</li>
            <li>vanilla Javascript</li>
            <li>Rails</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank"></a>
        </div>
      </div>
    </div> -->
  </div>
  <div class="row skills white-text">
    <div class="col s2 m2"></div>
    <div class="col s3 m3">
      <ul>
        <li class="center">GitHub/Git</li>
        <li class="center">Javascript</li>
        <li class="center">Excellent multitasking and organization skills
        </li>  
      </ul>
    </div>
    <div class="col s2 m2">
      <ul>
        <li class="center">HTML/CSS</li>
        <li class="center">Ruby/Rails</li>
        <li class="center">Sinatra</li>
        <li class="center">MSOffice (Word,Excel,PowerPoint)</li>
      </ul>
    </div>
    <div class="col s3 m3">
      <ul>
        <li class="center">SQL, Basic</li>
        <li class="center">Heroku</li>
        <li class="center">Coffee Script, Basics</li>
      </ul>
    </div>
    <div class="col s2 m2"></div>
  </div>
  <div class="row">
    <div class="col s12 m12">
      <h4 class= "center">Recommendations</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s1 m1"></div>
    <div class="col s4 m4 recomendation">
      <p>“I've seen first-hand her determination and ability to learn quickly. Like all good engineers, Christi's mind keeps working on the problem even when she's not busy coding at her keyboard.”
      <div class= "snippets"><span class="bold">Owen Graupman
        - DevOps Architect at Willis Towers Watson's OneExchange</span></div></p>
      <p>"Christi is fearless! Inspires me with her quality of character, work ethic and determination. She shows a lot of care, passion, and a flair for design" 
      <div class="snippets"><span class="bold">Sam Lubin</span>- NYCDA</div></p>
    </div>
    <div class="col s2 m2"></div>
    <div class="col s4 m4 recomendation">
      <p>"Extremely driven and talented. Christi will continue to work through a problem until a sustainable and satisfactory result is achieved.” 
      <div class="snippets"><span class="bold">Joshua Besser
          - Director Planning, Procurement & Energy - Nitrogen Products @ Dyno Nobel</span></div></p>
      <p>“Whatever she puts her mind to, she will see it through to the end. Get Christi on your team.” 
      <div class="snippets"><span class="bold">Ryan Richardson
         - Full Stack Web Developer</span></div></p>
      <p>“She's a doer and she's dedicated.” 
      <div class="snippets"><span class="bold">Casey Stinett
        - NYCDA</span></div></p>
    </div>
    <div class="col s1 m1"></div>
  </div>


    
            