<div class="container-fluid">
  <div class="row">
    <h4 class="centered">My Projects</h4>
  </div>
  <div class="row">
    <h5 class="centered">Let me take you on a journey through my projects.</h5>
  </div>
  <div class="row">
    <div class="col s1 m1"></div>
    <div class="col s12 m4 l4">
      <div>
        <h5 class="centered_p"><a href="https://www.dancesaltlake.com/" target="_blank">Onyx Pole</a></h5>
        <a href="https://www.dancesaltlake.com/" target="_blank" ><%= image_tag asset_url('onyx.jpg'), class: "p_img flow-text" %></a>
        <p class="paragraph">For my final project I choose to redo one one of my favorite places to workout
        <a href="https://www.dancesaltlake.com/" target="_blank">Dance Salt Lake</a>. They outsource their scheduling system so I decided to create an in house scheduler to challenge myself. It is still a work in progress. I'm hoping to be able to present it to the company in the near future.</p>
      </div>
      <!-- <div class="border"></div> -->
    </div>
    <div class="col s2 m2"></div>
    <div class="col s12 m4 l4">
      <div>
        <h5 class="centered_p flow-text"><a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank">Oh App</a></h5>
        <a href="https://nycdaohapp.herokuapp.com/users/sign_in" target="_blank"><%= image_tag asset_url('oh_app_two.jpg'), class: "p_img flow-text" %></a>
        <p class="paragraph">This was our final group project. It is a project management site that has been game-a-fied. You can create departments, projects in that department and then assign employees to tasks.
        <span>In order to see all the great features of this site you must login.</span>
          <div>
            <p>email: sampleuser@mail.com</p>
            <p>password: password </p>
          </div>
        </p>
      </div>
      <!-- <div class="border"></div> -->
    </div>
    <div class="col s1 m1"></div>
  </div>
  <div class="row">
    <div class="col s1 m1"></div>
    <div class="col s12 m4 l4">
      <div>
        <h5 class="centered_p flow-text"><a href="https://fedups.herokuapp.com/home" target="_blank">Fedups</a></h5>
        <a href="https://fedups.herokuapp.com/home" target="_blank"><%= image_tag asset_url('shipped.jpg'), class: "p_img flow-text" %></a>
        <p class="paragraph">This project uses join tables. I wanted the jobs and boats to show up on corresponding pages. In order to see all the features of this site you must login.
          <div>
            <p>username: sampleuser</p>
            <p>email: sampleuser@mail.com</p>
            <p>password: password</p>
          </div>
        </p>
      </div>
      <!-- <div class="border"></div> -->
    </div>
    <div class="col s2 m2"></div>
    <div class="col s12 m4 l4">
      <div>
        <h5 class="centered_p"><a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Wheel of Fortune</a></h5>
        <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank"><%= image_tag asset_url('wof_two.jpg'), class: "p_img" %></a>
        <p class="paragraph">When I created this project I had only been coding for about 4 weeks. I was bound and determined to make the letters pop up the same way they do it on the wheel of fortune game, which turned into a challenge. I have it currently set up so one can pick which color you would like to play. Enjoy!</p>
      </div>
      <!-- <div class="border"></div> -->
    </div>
    <div class="col s1 m1"></div>
  </div>
  <div class="row">
    <div class="col s1 m1"></div>
    <div class="col s12 m3 l3">
      <div>
        <h5 class="centered_p flow-text"><a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank">Cookie Counter</a></h5>
        <a href="http://christis-wheel-of-fortune.herokuapp.com/" target="_blank"><%= image_tag asset_url('cookie_two.jpg'), class: "p_img" %></a>
        <p class="paragraph">With a bootcamp it really pushes you hard. Sometimes you have to turn assignments in the next day. This was prior to materialize and bootstrap. This was the first project I felt that I could stretch myself beyond the basic requirements.</p>
      </div>
      <!-- <div class="border"></div> -->
    </div>
    <div class="col s2 m2"></div>
    <div class="col s12 m3 l3"></div>
    <div class="col s1 m1"></div>
</div>