<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bellefair|Kavivanar" rel="stylesheet">
   <link rel="stylesheet" type="text/css"
    media="screen and (max-device-width: 480px)"
    href="shetland.css" />
   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <!-- <a href="#" class="brand-logo">Logo</a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href=""><%= link_to "Home", root_path %> </a></li>
        <li><a href=""><%= link_to "About Me", static_path('about_me') %> </a></li>
        <li><a href="" target="_blank"><%= link_to "Resume", asset_path("resume.pdf") %></a></li>
         <li><a href=""><%= link_to "My Projects", static_path('my_project') %> </a></li>
        <!-- li><a href="collapsible.html"><%# link_to "Contact", email_index_path %></a></li> -->
        <li><a href=""><%= link_to "Recommendations", static_path('recommendations') %> </a></li>
        <li><a class="white-text text-lighten-3" href="https://www.linkedin.com/in/christi-barker/" target="_blank"><%= image_tag('linkedin-logo.png', class: "smaller") %> </a></li>
        <li><a class="white-text text-lighten-3" href="https://github.com/christibarker" target="_blank"><%= image_tag('github.png', class: "smaller") %> </a></li>
      </ul>
    </div>
  </nav>
    <%= yield %>
    <footer class="page-footer">
      <div class="container">
        <div class="row sm_footer">
          <div class="col l6 s6">
            <h5 class="white-text font"><%= link_to "About Me", static_path('about_me') %></h5>
            <h5 class="white-text font"><%= link_to "Resume", asset_path("resume.pdf")%></h5>
            <h5 class="white-text font"><%= link_to "My Projects", static_path('my_project') %></h5>
            <h5 class="white-text font"><%= link_to "Recommendations", static_path('recommendations') %></h5>
          </div>
          <div class="col l4 offset-l2 s6">
            <h5 class="white-text font">Contact Me</h5>
            <ul>
              <li class="font_sm">text: (801) 616-7305</li>
              <li class="font_sm">email: christiobarker@gmail.com</li>
              <!-- <li class="right"><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/christi-ovchinnikov-barker/"><%# image_tag('linkedin-logo.png', class: "small left") %> </a></li>
              <li class="right"><a class="grey-text text-lighten-3" href="https://github.com/christibarker"><%# image_tag('github.png', class: "small") %> </a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
      <div class="container fluid">
        <span class="white-text"> © 2017 Copyright Text</span>
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>  
  </body>
</html>
